html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  color: whitesmoke;
  background: #39ba69;
}

::-moz-selection {
color: whitesmoke;
background: #39ba69;
}
