
// Body
// $body-bg: #f5f8fa;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Typography

$title-font: "Roboto Slab", serif;
$text-font: "Roboto", sans-serif;

// Colors:
$dark-background-blue: #172742;
// $lighter-background-blue: #eaf7ec; green
$lighter-background-blue: #355b82;

// $main-red: #db303e;
$main-red: #e23b49;
$main-red: #d33240;
$main-red: #d8414e;

$main-red: #ff4454;


$white: whitesmoke;
