.adminContainer {
  height: 100vh;
  width: 100%;
  background: whitesmoke;
  overflow-y: scroll;
}

.admin-comments {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}

.admin-comments-show {
  opacity: 1;
  visibility: visible;
}

/*
add form
*/

// .add-form {
//   transition: 1s;
//   opacity: 0;
//   visibility: hidden;
// }
//
// .add-form-show {
//   opacity: 1;
//   visibility: visible;
// }

.addForm {
  position: fixed;
  top: 100px;
  left: 35vw;
  margin: auto;
  width: 30vw;
  height: 80vh;
  background: whitesmoke;
  border-radius: 4px;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
  z-index: 30;
}

.addForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.addForm input {
  display: block;
  width: 250px;
  height: 40px;
  margin: 10px 0px;
}

.addForm button {
  float: right;
  margin: 10px;
}

.admin-comments {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
comments
*/

.comment-delete:hover {
  cursor: pointer;
}
