.appContainer {
  width: 100%;
}

.sidebarContainer {
  width: 17%;
  float: left;
  height: 100vh;
  position: relative;
}

.mainContainer {
  width: 83%;
  float: right;
  // background: red;
  // z-index: 2000;
}
