.bubbleteaContainer {
  // display: flex;
  // flex-direction: column;
  // justify-content: baseline;
  // align-items: center;
  height: 100vh;
  width: 100%;
  // position: relative;
  background: whitesmoke;
  overflow-y: scroll;

  .bbtMap {
    height: 250px !important;
    width: 100%;
  }

  .bbtContent {
    height: 40%;
    width: 100%;
    background: whitesmoke;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
    // z-index: 1000;

    .bbtPic {
      width: 40%;
      height: 100%;
      float: left;
    }

    .bbtPic img {
      width: 100%;
      height: 100%;
    }

    .bbtInfos {
      width: 60%;
      height: 100%;
      float: right;
      // padding: 20px;


      &-left {
        width: 65%;
        height: 100%;
        float: left;
        padding: 30px 60px;
        font-family: $text-font;

        .bbtName {
          font-family: $title-font;
          font-size: 50px;
          color: $main-red;
          margin-bottom: 30px;
        }

        .bbtCom {
          font-size: 25px;
          color: #404040;
          margin-bottom: 20px;

        }

        .bbtDetails {
          span {
            display: block;
            color: #808080;
          }
        }
      }

      &-right {
        width: 35%;
        height: 100%;
        float: right;
        // background: green;
        color: #404040;
        padding: 50px 60px 30px 60px;
        font-size: 30px;

        .rateBubbleTea {
          color: #808080;
        }

        .rateBubbleTea:hover {
          color: $main-red;
          cursor: pointer;
        }
      }
    }
  }

  .bbtComments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 80px 0px;

    .comment {
      padding: 15px;
      background: #F8F8F8;
      border-radius: 4px;
      margin: 20px 0px;
      width: 50%;
      box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
      color: #404040;
      font-family: $text-font;
    }

    .comment-author {
      color: $main-red;
      font-family: $title-font;
    }

    .comment-date {
      color: #808080;
    }

    button {
      margin: 10px 0px 10px 10px;
    }
  }
}

/* CommentForm */

.comment-form input {
  background: none;
  border: none;
  border-bottom: 1px solid #808080;
  outline: none;
  margin: 0px 10px;
}

.comment-form textarea {
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid #808080;
  outline: none;
  margin: 0px 10px;
}

.full-form {
  transition: 1s;
  opacity: 0;
  display: none;
}

.full-form-show {
  opacity: 1;
  visibility: visible;
}
