.homeContainer {
  background-image: url('/public/img/bbt2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.homeMessage {
  width: 55%;
  height: 55%;
  color: $white;
  font-size: 4.5rem;
  font-family: $title-font;
  text-shadow: 0 2px 18px rgba(34,34,34,.6);
}

@media(max-width: 768px) {
  .homeMessage {
    font-size: 2.5rem;
  }
}
