.homeContainer {
  background-image: url('/public/img/bbt2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.homeMessage {
  width: 65%;
  height: 55%;
  color: $white;
  // background: lightgray;
  font-size: 5.5rem;
  font-family: $title-font;
  text-shadow: 0 2px 18px rgba(34,34,34,.6);
}
