.sidebar {
  background-color: $lighter-background-blue;
  height: 100vh;
  width: 250px;
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 100;
  span {
    display: block;
    color: $white;
    font-family: $text-font;
    height: 25px;
    font-size: 18px;
  }
  span:hover {
    cursor: pointer;
  }
  a {
    color: $white;
  }
  a:hover {
    color: $white;
    text-decoration: none;
  }
  &-top {

  }

  &-bottom {

  }

  &-text {

  }

  &-text_title {
    font-family: $title-font !important;
    font-size: 24px !important;
    margin-bottom: 20px;
  }
  &-text_subtitle {
    font-family: $title-font !important;
    font-size: 22px !important;
    margin-bottom: 10px;
    margin-top: 45px;
  }
}

.sidebar_right {
  background-color: whitesmoke;
  position: relative;
  left: 250px;
  height: 100vh;
  width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-right: 1px solid lightgray;
  z-index: 95;
  font-weight: bold;
  span {
    color: $lighter-background-blue;
  }
  a {
    color: $lighter-background-blue;
  }
  a:hover {
    color: $lighter-background-blue;
  }
  .sidebar-top {
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }

  .sidebar-bottom {
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  .sidebar-top_show {
    visibility: visible;
    opacity: 1;
  }

  .sidebar-bottom_show {
    visibility: visible;
    opacity: 1;
  }
  .myRoundButton {
    float: right;
    position: relative;
    bottom: 10px;
  }
}

.sidebar_right_show {
  width: 230px;
  padding: 30px 20px;
}

.sidebar-animation {
  width: 0px;
  position: fixed;
  left: 0px;
  transition: 1s;
  padding: 0px;
}

.sidebar-animation_show {
  width: 250px;
}
