.sidebar {
  background-color: $main-red;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 100;
  span {
    display: block;
    color: $white;
    font-family: $text-font;
    height: 25px;
    font-size: 20px;
  }
  span:hover {
    cursor: pointer;
  }
  a {
    color: $white;
  }
  a:hover {
    color: $white;
    text-decoration: none;
  }
  &-top {

  }

  &-bottom {
    span {
      font-size: 16px;
    }
  }

  &-text {

  }

  &-text_title {
    font-family: $title-font !important;
    font-size: 24px !important;
    margin-bottom: 20px;
  }
  &-text_subtitle {
    font-family: $title-font !important;
    font-size: 22px !important;
    margin-bottom: 10px;
    margin-top: 45px;
  }
}

.sidebar_right {
  background-color: whitesmoke;
  position: absolute;
  left: 0px;
  height: 100vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-right: 1px solid lightgray;
  z-index: 95;
  span {
    color: $main-red;
    color: #606060;
    // margin: 20px 0px;
  }
  &-text_title {
    margin-bottom: 60px;
  }
  a {
    color: $main-red;
    color: #606060;
  }
  a:hover {
    color: $main-red;
    color: #606060;
  }
  .myRoundButton {
    float: right;
    position: relative;
    bottom: 10px;
  }
}

.sidebar_right_show {
  left: 100%;
}
